[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/plugins/start/gitgutter"]
	path = .vim/pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/yajs"]
	path = .vim/pack/plugins/start/yajs
	url = https://github.com/othree/yajs.vim.git
[submodule ".vim/pack/plugins/start/editorconfig"]
	path = .vim/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/nerdtree-git"]
	path = .vim/pack/plugins/start/nerdtree-git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/supertab"]
	path = .vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/themes/opt/vim-dim"]
	path = .vim/pack/themes/opt/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
[submodule ".vim/pack/plugins/start/vim-jsx-pretty"]
	path = .vim/pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
